<!--Sección experiencia-->

<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1 </h1> 
                <h3>(años)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, architecto itaque ab beatae facere veritatis laborum adipisci animi explicabo alias perferendis repellat veniam voluptas, similique amet quam optio nihil consequuntur. </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2 </h1> 
                <h3>(años)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, architecto itaque ab beatae facere veritatis laborum adipisci animi explicabo alias perferendis repellat veniam voluptas, similique amet quam optio nihil consequuntur. </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3 </h1> 
                <h3>(años)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, architecto itaque ab beatae facere veritatis laborum adipisci animi explicabo alias perferendis repellat veniam voluptas, similique amet quam optio nihil consequuntur. </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 4 </h1> 
                <h3>(años)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, architecto itaque ab beatae facere veritatis laborum adipisci animi explicabo alias perferendis repellat veniam voluptas, similique amet quam optio nihil consequuntur. </p>
        </ul>
    </div>
</div>