<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Porfolio Web Argentina Programa</h2>
            <p>Objetivo
                Desarrollar una aplicación web full stack, que mostrará: datos personales, estudios cursados, experiencia laboral, 
                conocimiento de las tecnologías. 
                Esta aplicación deberá ser de arquitectura distribuida y contener un diseño de interfaz de usuario 
                (front end) que muestre la información, una base de datos que almacene los datos antes mencionados y debe contar
                con las APIs necesarias para proveer a través de internet la información (back end).</p>
        </div>


        <div class="col-cm-12 col-md-3 col-lg-3 offset-md-1 parte2">
            <a href="https://maitecabrerafrontend.web.app/"><img src="../../../assets/img/APLogo.png"></a>
        </div>
    </div>
</div>


