.row{
    padding: 20px;
    background-color: rgb(13, 12, 12);
    color: #fff;
    font-family: "Raleway", sans-serif;
    
}
.contenedor{
    width: auto;
}
.parte, .parte2{    /*parte escrita y foto*/
    display: inline-block;
    text-align: justify;
    margin: center;
}
.img-proyecto{  /*Flota la imagen con color de fondo*/
    box-shadow: 10px 10px 30px #392e2e;
    min-width: 576px;
    max-width: 576px;
}

