<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Proyecto 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae pariatur error laboriosam dolorem nostrum necessitatibus vero at praesentium, incidunt adipisci placeat veritatis impedit optio repellat ab eaque voluptatem ipsum! Quia?</p>
        </div>
        <div class="col-cm-12 col-md-3 col-lg-3 offset-md-1 parte2">
            <img src="../../../assets/img/proyectoimagenprueba.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>