<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Por favor, ingresar usuario y clave</p>

              <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

                <div class="form-outline form-white mb-4">
                  <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg"
                    [(ngModel)]="nombreUsuario" required />
                  <label class="form-label" for="nombreUsuario">Usuario</label>
                </div>

                <div class="form-outline form-white mb-4">
                  <input type="password" id="password" name="password" class="form-control form-control-lg" [(ngModel)]="password"
                    required />
                  <label class="form-label" for="password">Password</label>
                </div>

                <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->

                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

              </form>

            </div>

            <div>
              <p class="mb-0">¿No tienes una cuenta? <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>










<!--
<section class="vh-100" style="background-color: #090909">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            //Imagen a la izquierda pero todavía no se me ocurre que 
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="../../../assets/img/cat-work.gif" id="imagenLogin" class="img-fluid"
                style="border-radius: 1rem 0 0 1rem" />
            </div>

            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form>
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0">LOGIN</span>
                  </div>
                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                    Por favor, ingrese su usuario y clave
                  </h5>

                  <form #f="ngForm" (ngSubmit)="onLogin()" novalidate> 


                    <div class="form-outline mb-4">
                      <input type="email" id="nombreUsuario"  class="form-control form-control-lg" [(ngModel)]="nombreUsuario" [ngModelOptions]="{standalone:true}" required/>
                      <label class="form-label" for="nombreUsuario">Usuario</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="password"   id="password" class="form-control form-control-lg" [(ngModel)]="password"  [ngModelOptions]="{standalone:true}"  required/>
                      <label class="form-label" for="password">Contraseña</label>
                    </div>

                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="button">
                        Ingresar
                      </button>
                    </div>

        //           <a class="small text-muted" href="#!">¿Olvidaste tu contraseña?</a> //
                  </form>

                  <p class="mb-5 pb-lg-2" style="color: #070707">
                    ¿Cómo que no tenes una cuenta?
                    <a href="#!" style="color: #000000">Registrate acá</a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->