<div class="row">
    <button type="button" class="btn btn-primary" routerLink="/editacercade/1" *ngIf="isLogged">
        Editar Persona
    </button>



    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{persona.img}}
        class ="img-fluid" id = "fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p><strong>Full Stack Developer Jr</strong></p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 descripcion">
        <span>
            <h1>Acerca de mi</h1>
            <p>{{persona.descripcion}}
            </p>
        </span>
    </div>
</div>












