<div class="row">
    <div class="container">
        <div class="logo">
            <!--Logo de Argentina Programa-->
            <img src="../../../assets/img/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <!--REDES SOCIALES-->
            <a href="https://www.linkedin.com/in/maitecabreraestudianteinform%C3%A1tica/"><img src="../../../assets/img/logosRedesSociales/linkedin.png" id="linkedin"></a>
            <a href="https://twitter.com/home"><img src="../../../assets/img/logosRedesSociales/twitter.png" id="twitter"></a>
            <a href="https://www.instagram.com/?hl=es"><img src="../../../assets/img/logosRedesSociales/instagram.png" id="instagram"></a>
            <a href="https://github.com/MaiteCabrera"><img src="../../../assets/img/logosRedesSociales/github.png" id="github"></a>
            <a href="https://www.facebook.com/"><img src="../../../assets/img/logosRedesSociales/facebook.png" id="facebook"></a>
            <!-- BOTON DE USER/Login Button  -->
            <button type="button" class="btn btn-outline-dark">INGRESO</button>
            
        </div>
    </div>
</div>

